.anim1 {
  width: 600px;
    height: 500px;
    position: absolute;
    top: 130px;
    left: -135px;
}

.anim2 {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 155px;
  left: -158px;
}
.anim3 {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 127px;
  left: -150px;
}
.anim4 {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 145px;
  left: -150px;
}
.anim5 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 130px;
    left: -179px;
  }
  .anim6 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim7 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim8 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim9 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim9 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 150px;
    left: -144px;
  }
  .anim10 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 155px;
    left: -158px;
  }
  .anim11 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim12 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim13 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim14 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim15 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim16 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim17 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim18 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim19 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 125px;
    left: -125px;
  }
  .anim20 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim21 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim22 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 140px;
    left: -140px;
  }
  .anim23 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 140px;
    left: -140px;
  }
  .anim24 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 140px;
    left: -140px;
  }
  .anim25 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -99px;
  }
  .anim26 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 150px;
    left: -150px;
  }
  .anim27 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 144px;
    left: -150px;
  }
  .anim28 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim29 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim30 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim31 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim32 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 127px;
    left: -150px;
  }
  .anim32 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 130px;
    left: -123px;
  }
  
  .anim33 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 130px;
    left: -110px;
  }