.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }
#screen {
    width: 100vw;
    height: 100vh;
    animation: bg-color 5s infinite;
    transition: all 1s;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.sk-chase {
    margin: 0 auto;
    margin-top: 300px;
}
@keyframes bg-color {
    0% { background-color: #dc3434; }
    5% { background-color: rgb(255, 115, 0);}
    10% { background-color: #faf200; }
    15% { background-color: #77d71d; }
    20% { background-color: #3498db; }
    25% { background-color: #9b59b6; }
    30% { background-color: #e73c3c; }
    35% { background-color: #3498db;}
    40% {background-color: #f1c40f;}
    50% {background-color: rgb(10, 248, 113);}
    55% {background-color: rgb(10, 216, 248);}
    60% {background-color: rgb(10, 141, 248);}
    65% {background-color: rgb(10, 10, 248);}
    70% {background-color: rgb(189, 10, 248);}
    75% {background-color: rgb(248, 10, 121);}
    80% {background-color: rgb(248, 10, 10);}
    85% {background-color: rgba(14, 140, 243, 0.696);}
    90% {background-color: rgb(0, 255, 153);}
    95% {background-color: rgba(14, 140, 243, 0.696);}
    100% {background-color: rgb(255, 255, 255);}
  }
  .load {
      color: white;
      font-weight: lighter;
      text-align: center;
    margin-bottom: 400px;
  }
  .loaded {
    opacity: 0;
    visibility: hidden;
  }